<div class="text-center p-3">
  <p><strong>This is about MyAPP.</strong></p>
  <p><strong>It is a test application to test my Angular skills.</strong></p>
  <p>
      The app contains several routes that can be navigated from the navigation
      menu. The navigation menu is dynamic, it varies depending on whether the
      user is logged in or not.
  </p>
  <p>

      To test the app, you need to use the username:
      'master8&#64;lemoncode.net' and the password:
      12345678.
  </p>
  <p>To log out of the app, you have to logout in navbar</p>
</div>
