$font-family-primary: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
$font-family-secondary: Arial, Helvetica, sans-serif;
$background-color: goldenrod;
$border-radius: 10px;
$text-color-white: white;
$box-shadow: -22px 25px 23px 0px rgba(0, 0, 0, 0.75);
