<div class="gallery-container">
  <div class="selected-image">
    <img [src]="selectedImage.src" [alt]="selectedImage.title" />
    <h3>{{ selectedImage.title }}</h3>
  </div>
  <div class="gallery-images d-flex">
    @for(image of imageList.slice(currentIndex, currentIndex + 3); track
    image.id){
    <div class="gallery-image" (click)="selectImage(image)">
      <img [src]="image.src" [alt]="image.title" />
    </div>
    }
  </div>

  <div class="navigation-buttons">
    <button (click)="previous()" [disabled]="isFirstGroup()">Previous</button>
    <button (click)="next()" [disabled]="isLastGroup()">Next</button>
    @if (!isPlaying){
    <button (click)="play()">Play</button>
    } @else {
    <button (click)="stop()">Stop</button>
    }
    <button (click)="increaseSize()">Increase Size</button>
    <button (click)="decreaseSize()">Decrease Size</button>
  </div>
</div>
