.header{
    background-color: beige;
    height: 60px;
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    border-bottom: 2px solid darkgoldenrod;
    h1{
        color: gray
    }
}