$font-family-gill: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;
$background-color-gold: goldenrod;
$border-radius: 10px;
$text-color-white: white;

@mixin theme-2{
    font-family: $font-family-gill;
    background-color: $background-color-gold;
    color: $text-color-white;
    border-radius: $border-radius;
    -webkit-box-shadow: -22px 25px 23px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -22px 25px 23px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -22px 25px 23px 0px rgba(0, 0, 0, 0.75);
}